<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<li>
	<%= link_to "Le Cabinet", static_pages_cabinet_path %>
</li>
<li>
	<%= link_to "Notre Équipe", static_pages_equipe_path %>
</li>
<li>
	<%= link_to "Prestations", static_pages_prestations_path %>
</li>
<li>
	<%= link_to "Plateau Technique", static_pages_plateau_path %>
</li>
<li>
	<%= link_to "Contact", static_pages_contact_path %>
</li>