<h1>StaticPages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<li>
	<%= link_to "Accueil", pages_home_path %>
</li>
<li>
	<%= link_to "Le Cabinet", pages_cabinet_path %>
</li>
<li>
	<%= link_to "Notre Équipe", pages_equipe_path %>
</li>
<li>
	<%= link_to "Prestations", pages_prestations_path %>
</li>
<li>
	<%= link_to "Plateau Technique", pages_plateau_path %>
</li>
<li>
	<%= link_to "Contact", pages_contact_path %>
</li>